In [255]:
### Data cleaning and data wangling of two datasets schools dataset and charity dataset

In [256]:
# pandas and numpy libraries 
import pandas as pd # pandas 
import numpy as np # numpy

###  Firstly to work with datasets in notebooks , there is need to import the data

In [257]:

# pandas major library in work / import dataset 
school= pd.read_csv('C:/Users/aoogb/Desktop/data/school.csv', sep=',' , error_bad_lines=False, index_col=False, dtype='unicode')
school_df=pd.DataFrame(school)
school_df.head()

,URN,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentTypeGroup (code),EstablishmentTypeGroup (name),EstablishmentStatus (code),...,UPRN,SiteName,QABName (code),QABName (name),EstablishmentAccredited (code),EstablishmentAccredited (name),QABReport,CHNumber,MSOA (code),LSOA (code)
0,100000,201,City of London,3614,The Aldgate School,02,Voluntary aided school,4,Local authority maintained schools,1,...,200000071925,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01032739
1,100001,201,City of London,6005,City of London School for Girls,11,Other independent school,3,Independent schools,1,...,200000074660,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01000002
2,100002,201,City of London,6006,St Paul's Cathedral School,11,Other independent school,3,Independent schools,1,...,200000072075,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01032739
3,100003,201,City of London,6007,City of London School,11,Other independent school,3,Independent schools,1,...,100022936607,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01032739
4,100004,202,Camden,1045,Sherborne Nursery School,15,Local authority nursery school,4,Local authority maintained schools,2,...,200163898,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000172,E01000901

In [258]:
# firstly we want to know the name of all the column headers by using a for loop to iterate through the schools dataset 

for col in school_df:
    print(col)

URN
LA (code)
LA (name)
EstablishmentNumber
EstablishmentName
TypeOfEstablishment (code)
TypeOfEstablishment (name)
EstablishmentTypeGroup (code)
EstablishmentTypeGroup (name)
EstablishmentStatus (code)
EstablishmentStatus (name)
ReasonEstablishmentOpened (code)
ReasonEstablishmentOpened (name)
OpenDate
ReasonEstablishmentClosed (code)
ReasonEstablishmentClosed (name)
CloseDate
PhaseOfEducation (code)
PhaseOfEducation (name)
StatutoryLowAge
StatutoryHighAge
Boarders (code)
Boarders (name)
NurseryProvision (name)
OfficialSixthForm (code)
OfficialSixthForm (name)
Gender (code)
Gender (name)
ReligiousCharacter (code)
ReligiousCharacter (name)
ReligiousEthos (name)
Diocese (code)
Diocese (name)
AdmissionsPolicy (code)
AdmissionsPolicy (name)
SchoolCapacity
SpecialClasses (code)
SpecialClasses (name)
CensusDate
NumberOfPupils
NumberOfBoys
NumberOfGirls
PercentageFSM
TrustSchoolFlag (code)
TrustSchoolFlag (name)
Trusts (code)
Trusts (name)
SchoolSponsorFlag (name)
SchoolSponsors (name)
FederationFlag (name)
Federations (code)
Federations (name)
UKPRN
FEHEIdentifier
FurtherEducationType (name)
OfstedLastInsp
OfstedSpecialMeasures (code)
OfstedSpecialMeasures (name)
LastChangedDate
Street
Locality
Address3
Town
County (name)
Postcode
SchoolWebsite
TelephoneNum
HeadTitle (name)
HeadFirstName
HeadLastName
HeadPreferredJobTitle
BSOInspectorateName (name)
InspectorateReport
DateOfLastInspectionVisit
NextInspectionVisit
TeenMoth (name)
TeenMothPlaces
CCF (name)
SENPRU (name)
EBD (name)
PlacesPRU
FTProv (name)
EdByOther (name)
Section41Approved (name)
SEN1 (name)
SEN2 (name)
SEN3 (name)
SEN4 (name)
SEN5 (name)
SEN6 (name)
SEN7 (name)
SEN8 (name)
SEN9 (name)
SEN10 (name)
SEN11 (name)
SEN12 (name)
SEN13 (name)
TypeOfResourcedProvision (name)
ResourcedProvisionOnRoll
ResourcedProvisionCapacity
SenUnitOnRoll
SenUnitCapacity
GOR (code)
GOR (name)
DistrictAdministrative (code)
DistrictAdministrative (name)
AdministrativeWard (code)
AdministrativeWard (name)
ParliamentaryConstituency (code)
ParliamentaryConstituency (name)
UrbanRural (code)
UrbanRural (name)
GSSLACode (name)
Easting
Northing
MSOA (name)
LSOA (name)
InspectorateName (name)
SENStat
SENNoStat
BoardingEstablishment (name)
PropsName
PreviousLA (code)
PreviousLA (name)
PreviousEstablishmentNumber
OfstedRating (name)
RSCRegion (name)
Country (name)
UPRN
SiteName
QABName (code)
QABName (name)
EstablishmentAccredited (code)
EstablishmentAccredited (name)
QABReport
CHNumber
MSOA (code)
LSOA (code)

In [259]:
# checking out the basic information of the schools data
school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49307 entries, 0 to 49306
Columns: 138 entries, URN to LSOA (code)
dtypes: object(138)
memory usage: 51.9+ MB

In [260]:
# fequency of variable using for loop
for col in school_df:
    print ('\nFrequency of Categories for variable %s'%col)
    print (school_df[col].value_counts())

Frequency of Categories for variable URN
139187    1
402236    1
107686    1
100907    1
401656    1
         ..
118024    1
129615    1
139617    1
117106    1
111439    1
Name: URN, Length: 49307, dtype: int64

Frequency of Categories for variable LA (code)
886    1309
881    1142
936     994
888     962
919     945
       ...
704      18
708      14
701       9
201       8
420       8
Name: LA (code), Length: 186, dtype: int64

Frequency of Categories for variable LA (name)
Kent                                 1309
Essex                                1142
Surrey                                994
Lancashire                            962
Hertfordshire                         945
                                     ...
Fieldwork Overseas Establishments      18
Gibraltar Overseas Establishments      14
Scotland Offshore Establishments        9
Isles Of Scilly                         8
City of London                          8
Name: LA (name), Length: 186, dtype: int64

Frequency of Categories for variable EstablishmentNumber
2002    170
2001    167
2000    164
1100    157
4000    157
       ...
3945      1
6537      1
1130      1
6567      1
7137      1
Name: EstablishmentNumber, Length: 3707, dtype: int64

Frequency of Categories for variable EstablishmentName
St Joseph's Catholic Primary School        90
St Mary's Catholic Primary School          66
St John's CofE Primary School              27
St Anne's Catholic Primary School          25
St Patrick's Catholic Primary School       25
                                           ..
Balshaw's Church of England High School     1
Corelli College                             1
Boston Nursery School                       1
Vittoria Primary School                     1
Diamond Learning Community                  1
Name: EstablishmentName, Length: 40671, dtype: int64

Frequency of Categories for variable TypeOfEstablishment (code)
01    16443
34     6403
02     5132
11     3806
03     3134
28     2597
30     2455
05     2167
07     1604
10     1069
14      869
15      619
18      488
35      487
44      292
27      231
25      155
37      142
29      138
32      137
12      128
08       94
33       84
26       82
42       81
36       75
40       66
31       60
38       54
24       48
41       48
43       37
45       33
39       32
06       15
46        1
56        1
Name: TypeOfEstablishment (code), dtype: int64

Frequency of Categories for variable TypeOfEstablishment (name)
Community school                                     16443
Academy converter                                     6403
Voluntary aided school                                5132
Other independent school                              3806
Voluntary controlled school                           3134
Academy sponsor led                                   2597
Welsh establishment                                   2455
Foundation school                                     2167
Community special school                              1604
Other independent special school                      1069
Pupil referral unit                                    869
Local authority nursery school                         619
Further education                                      488
Free schools                                           487
Academy special converter                              292
Miscellaneous                                          231
Offshore schools                                       155
British schools overseas                               142
Higher education institutions                          138
Special post 16 institution                            137
Foundation special school                              128
Non-maintained special school                           94
Academy special sponsor led                             84
Service children's education                            82
Academy alternative provision converter                 81
Free schools special                                    75
University technical college                            66
Sixth form centres                                      60
Free schools alternative provision                      54
Secure units                                            48
Studio schools                                          48
Academy alternative provision sponsor led               37
Academy 16-19 converter                                 33
Free schools 16 to 19                                   32
City technology college                                 15
Institution funded by other government department        1
Academy 16 to 19 sponsor led                             1
Name: TypeOfEstablishment (name), dtype: int64

Frequency of Categories for variable EstablishmentTypeGroup (code)
4     28364
10     9528
3      3821
5      2895
6      2455
9       796
11      762
1       548
2       138
Name: EstablishmentTypeGroup (code), dtype: int64

Frequency of Categories for variable EstablishmentTypeGroup (name)
Local authority maintained schools    28364
Academies                              9528
Independent schools                    3821
Special schools                        2895
Welsh schools                          2455
Other types                             796
Free Schools                            762
Colleges                                548
Universities                            138
Name: EstablishmentTypeGroup (name), dtype: int64

Frequency of Categories for variable EstablishmentStatus (code)
1    26951
2    22313
4       23
3       20
Name: EstablishmentStatus (code), dtype: int64

Frequency of Categories for variable EstablishmentStatus (name)
Open                           26951
Closed                         22313
Proposed to open                  23
Open, but proposed to close       20
Name: EstablishmentStatus (name), dtype: int64

Frequency of Categories for variable ReasonEstablishmentOpened (code)
00    34449
10     6671
06     5728
01     1223
99      559
04      324
02      110
13       80
03       61
09       40
07       29
11       15
05       12
08        5
12        1
Name: ReasonEstablishmentOpened (code), dtype: int64

Frequency of Categories for variable ReasonEstablishmentOpened (name)
Not applicable                34449
Academy Converter              6671
New Provision                  5728
Result of Amalgamation         1223
Fresh Start                     324
Result of Closure               110
Not Recorded                     80
Change Religious Character       61
Change in status                 40
Former Independent               29
Academy Free School              15
New Nursery School               12
Split school                      5
Free Special School               1
Name: ReasonEstablishmentOpened (name), dtype: int64

Frequency of Categories for variable OpenDate
01-01-1900    800
01-09-2012    374
01-09-2016    321
01-09-2014    294
01-09-2015    287
             ...
22-09-2003      1
18-08-2021      1
24-02-2009      1
01-08-1990      1
11-10-1976      1
Name: OpenDate, Length: 2805, dtype: int64

Frequency of Categories for variable ReasonEstablishmentClosed (code)
00    21902
99    11280
10     6672
01     3446
02     2885
06     2464
04      342
05       89
03       67
08       58
07       41
11       29
12       17
09       14
14        1
Name: ReasonEstablishmentClosed (code), dtype: int64

Frequency of Categories for variable ReasonEstablishmentClosed (name)
Not applicable                             21902
Academy Converter                           6672
Result of Amalgamation/Merger               3446
Closure                                     2885
For Academy                                 2464
Fresh Start                                  342
Close Nursery School                          89
Change Religious Character                    67
Does not meet criteria for registration       58
De-registered                                 41
Academy Free School                           29
Transferred to new sponsor                    17
Change in status                              14
Created in Error - application rejected        1
Name: ReasonEstablishmentClosed (name), dtype: int64

Frequency of Categories for variable CloseDate
31-08-2012    458
31-08-1992    417
31-08-2011    415
31-08-1988    376
31-08-2016    359
             ...
19-11-1990      1
25-10-2007      1
17-08-1998      1
13-04-2018      1
16-11-2012      1
Name: CloseDate, Length: 2356, dtype: int64

Frequency of Categories for variable PhaseOfEducation (code)
2    28660
0    11657
4     6730
5      631
1      619
6      561
3      261
7      188
Name: PhaseOfEducation (code), dtype: int64

Frequency of Categories for variable PhaseOfEducation (name)
Primary                    28660
Not applicable             11657
Secondary                   6730
Middle deemed secondary      631
Nursery                      619
16 plus                      561
Middle deemed primary        261
All-through                  188
Name: PhaseOfEducation (name), dtype: int64

Frequency of Categories for variable StatutoryLowAge
3     11912
4      9783
11     7677
5      5413
7      3520
2      3405
16      766
9       718
14      469
8       432
13      349
10      320
12      157
6       139
1        98
0        85
15       56
19       34
18       18
17        4
Name: StatutoryLowAge, dtype: int64

Frequency of Categories for variable StatutoryHighAge
11    25164
16     4784
18     4782
7      3605
19     2290
13      911
9       861
5       576
99      560
14      300
12      288
8       280
17      263
10      198
25      141
4        97
15       95
6        69
20       23
21       22
24       21
23       11
22        6
3         4
30        2
60        1
45        1
35        1
28        1
98        1
Name: StatutoryHighAge, dtype: int64

Frequency of Categories for variable Boarders (code)
1    43811
0     2726
9     1473
3      825
2      423
4       49
Name: Boarders (code), dtype: int64

Frequency of Categories for variable Boarders (name)
No boarders                               43811
Not applicable                             2726
Boarding school                             825
Children's home (Boarding school)           423
College / FE residential accommodation       49
Name: Boarders (name), dtype: int64

Frequency of Categories for variable NurseryProvision (name)
No Nursery Classes     19806
Has Nursery Classes    15117
Not applicable         14359
Name: NurseryProvision (name), dtype: int64

Frequency of Categories for variable OfficialSixthForm (code)
2    27242
0    16104
1     5956
9        5
Name: OfficialSixthForm (code), dtype: int64

Frequency of Categories for variable OfficialSixthForm (name)
Does not have a sixth form    27242
Not applicable                16104
Has a sixth form               5956
Name: OfficialSixthForm (name), dtype: int64

Frequency of Categories for variable Gender (code)
3    43793
0     2333
9     1400
1      920
2      861
Name: Gender (code), dtype: int64

Frequency of Categories for variable Gender (name)
Mixed             43793
Not applicable     2333
Boys                920
Girls               861
Name: Gender (name), dtype: int64

Frequency of Categories for variable ReligiousCharacter (code)
00    26789
06     8471
02     6715
99     3461
03     3084
15      285
05       77
07       54
42       50
09       46
04       43
44       26
11       26
31       23
35       20
43       16
21       15
13       13
25       11
14       10
20        9
37        6
08        6
32        5
34        4
12        4
16        4
46        3
22        3
41        3
29        3
30        2
36        2
33        2
28        2
48        2
19        1
45        1
10        1
24        1
49        1
18        1
17        1
38        1
47        1
39        1
40        1
26        1
Name: ReligiousCharacter (code), dtype: int64

Frequency of Categories for variable ReligiousCharacter (name)
Does not apply                                              26789
None                                                         8471
Church of England                                            6715
Roman Catholic                                               3084
Christian                                                     285
Jewish                                                         77
Muslim                                                         54
Islam                                                          50
Church of England/Methodist                                    46
Methodist                                                      43
Church of England/Roman Catholic                               26
Plymouth Brethren Christian Church                             26
Anglican                                                       23
Catholic                                                       20
Orthodox Jewish                                                16
Sikh                                                           15
Roman Catholic/Church of England                               13
Hindu                                                          11
Quaker                                                         10
Church of England/Christian                                     9
Christian/Evangelical                                           6
Seventh Day Adventist                                           6
Anglican/Christian                                              5
Anglican/Church of England                                      4
Church of England/United Reformed Church                        4
United Reformed Church                                          4
Protestant/Evangelical                                          3
Greek Orthodox                                                  3
Multi-faith                                                     3
Church of England/Evangelical                                   3
Anglican/Evangelical                                            2
Roman Catholic/Anglican                                         2
Church of England/Methodist/United Reform Church/Baptist        2
Inter- / non- denominational                                    2
Charadi Jewish                                                  2
Congregational Church                                           1
Church of England/Free Church                                   1
Christian Science                                               1
Sunni Deobandi                                                  1
Free Church                                                     1
Christian/Methodist                                             1
Moravian                                                        1
Reformed Baptist                                                1
Protestant                                                      1
Methodist/Church of England                                     1
Christian/non-denominational                                    1
Buddhist                                                        1
Name: ReligiousCharacter (name), dtype: int64

Frequency of Categories for variable ReligiousEthos (name)
Does not apply                                              38283
None                                                         5854
Christian                                                     524
Church of England                                             468
Roman Catholic                                                329
Muslim                                                        181
Inter- / non- denominational                                  118
Jewish                                                         85
Islam                                                          44
Church of England/Christian                                    23
Christian/non-denominational                                   21
Orthodox Jewish                                                17
Methodist                                                      17
Multi-faith                                                    16
Quaker                                                          9
Seventh Day Adventist                                           8
Anglican                                                        6
Sikh                                                            6
Hindu                                                           5
Church of England/Roman Catholic                                4
Catholic                                                        4
Anglican/Church of England                                      4
United Reformed Church                                          3
Methodist/Church of England                                     3
Church of England/Methodist                                     2
Church of England/Evangelical                                   1
Unitarian                                                       1
Greek Orthodox                                                  1
Moravian                                                        1
Congregational Church                                           1
Anglican/Christian                                              1
Reformed Baptist                                                1
Church of England/Free Church                                   1
Church of England/Methodist/United Reform Church/Baptist        1
Plymouth Brethren Christian Church                              1
Roman Catholic/Church of England                                1
Buddhist                                                        1
Name: ReligiousEthos (name), dtype: int64

Frequency of Categories for variable Diocese (code)
0000    38443
9999     1249
RC03      396
CE27      391
CE20      332
        ...
CE04       11
CE30       10
0002        8
RC20        4
JT01        1
Name: Diocese (code), Length: 67, dtype: int64

Frequency of Categories for variable Diocese (name)
Not applicable                              38443
Archdiocese of Birmingham                     396
Diocese of Oxford                             391
Diocese of Lichfield                          332
Diocese of Salisbury                          330
                                            ...
Diocese of Bradford                            11
Diocese of Ripon                               10
Diocese is not trustees                         8
Archdiocese of Cardiff                          4
Diocese of Shrewsbury/Diocese of Chester        1
Name: Diocese (name), Length: 66, dtype: int64

Frequency of Categories for variable AdmissionsPolicy (code)
0    35276
4     8156
9     4904
2      971
Name: AdmissionsPolicy (code), dtype: int64

Frequency of Categories for variable AdmissionsPolicy (name)
Not applicable    35276
Non-selective      8156
Selective           971
Name: AdmissionsPolicy (name), dtype: int64

Frequency of Categories for variable SchoolCapacity
210     4086
420     2927
105     1027
240      890
315      877
        ...
1809       1
1441       1
606        1
1592       1
897        1
Name: SchoolCapacity, Length: 1813, dtype: int64

Frequency of Categories for variable SpecialClasses (code)
2    29238
0    15215
1     4754
9      100
Name: SpecialClasses (code), dtype: int64

Frequency of Categories for variable SpecialClasses (name)
No Special Classes     29238
Not applicable         15215
Has Special Classes     4754
Name: SpecialClasses (name), dtype: int64

Frequency of Categories for variable CensusDate
21-01-2021    24413
19-01-2017     1248
18-01-2018     1148
17-01-2019      727
16-01-2020      503
Name: CensusDate, dtype: int64

Frequency of Categories for variable NumberOfPupils
209     164
210     162
207     158
208     145
211     144
       ...
1915      1
2804      1
1749      1
1762      1
1595      1
Name: NumberOfPupils, Length: 1845, dtype: int64

Frequency of Categories for variable NumberOfBoys
0       455
110     244
105     216
115     202
100     195
       ...
1197      1
1007      1

In [261]:
#calling a function to print out a table with all mssing values of the dataframe 
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(school_df)

Your selected dataframe has 138 columns and 49307 Rows.
There are 98 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
CHNumber,0,49307,100.0,49307,100.0,object
QABReport,0,49307,100.0,49307,100.0,object
NextInspectionVisit,0,49307,100.0,49307,100.0,object
SiteName,0,49304,100.0,49304,100.0,object
SEN13 (name),0,49302,100.0,49302,100.0,object
...,...,...,...,...,...,...
NurseryProvision (name),0,25,0.1,25,0.1,object
SENPRU (name),0,11,0.0,11,0.0,object
TeenMoth (name),0,8,0.0,8,0.0,object
EBD (name),0,7,0.0,7,0.0,object
OfficialSixthForm (name),0,5,0.0,5,0.0,object

In [262]:
def missing(dff):
    print (round((dff.isnull().sum() * 100/ len(dff)),2).sort_values(ascending=False))  
missing(school_df)

NextInspectionVisit           100.00
CHNumber                      100.00
QABReport                     100.00
SEN13 (name)                   99.99
SiteName                       99.99
                               ...
LA (code)                       0.00
BSOInspectorateName (name)      0.00
Section41Approved (name)        0.00
GOR (code)                      0.00
LSOA (code)                     0.00
Length: 138, dtype: float64

In [263]:
def rmissingvaluecol(dff, threshold):
    l = []
    l = list(dff.drop(dff.loc[:,list((100*(dff.isnull().sum()/len(dff.index)) >= threshold))].columns, 1).columns.values)
    print("# Columns having more than %s percent missing values: "%threshold, (dff.shape[1] - len(l)))
    print("Columns:\n", list(set(list((dff.columns.values))) - set(l)))
    return l

rmissingvaluecol(school_df,80)

# Columns having more than 80 percent missing values:  39
Columns:
 ['TeenMothPlaces', 'FTProv (name)', 'SEN10 (name)', 'BoardingEstablishment (name)', 'SEN3 (name)', 'TypeOfResourcedProvision (name)', 'SEN4 (name)', 'SEN11 (name)', 'SEN9 (name)', 'SENNoStat', 'SEN8 (name)', 'SenUnitCapacity', 'SEN5 (name)', 'Country (name)', 'FEHEIdentifier', 'InspectorateName (name)', 'SENStat', 'PreviousEstablishmentNumber', 'SEN12 (name)', 'Address3', 'SEN13 (name)', 'SEN2 (name)', 'PropsName', 'SenUnitOnRoll', 'SiteName', 'Federations (code)', 'CHNumber', 'ResourcedProvisionCapacity', 'SEN6 (name)', 'ResourcedProvisionOnRoll', 'PlacesPRU', 'SEN7 (name)', 'Federations (name)', 'QABReport', 'SEN1 (name)', 'InspectorateReport', 'SchoolSponsors (name)', 'NextInspectionVisit', 'DateOfLastInspectionVisit']

['URN',
 'LA (code)',
 'LA (name)',
 'EstablishmentNumber',
 'EstablishmentName',
 'TypeOfEstablishment (code)',
 'TypeOfEstablishment (name)',
 'EstablishmentTypeGroup (code)',
 'EstablishmentTypeGroup (name)',
 'EstablishmentStatus (code)',
 'EstablishmentStatus (name)',
 'ReasonEstablishmentOpened (code)',
 'ReasonEstablishmentOpened (name)',
 'OpenDate',
 'ReasonEstablishmentClosed (code)',
 'ReasonEstablishmentClosed (name)',
 'CloseDate',
 'PhaseOfEducation (code)',
 'PhaseOfEducation (name)',
 'StatutoryLowAge',
 'StatutoryHighAge',
 'Boarders (code)',
 'Boarders (name)',
 'NurseryProvision (name)',
 'OfficialSixthForm (code)',
 'OfficialSixthForm (name)',
 'Gender (code)',
 'Gender (name)',
 'ReligiousCharacter (code)',
 'ReligiousCharacter (name)',
 'ReligiousEthos (name)',
 'Diocese (code)',
 'Diocese (name)',
 'AdmissionsPolicy (code)',
 'AdmissionsPolicy (name)',
 'SchoolCapacity',
 'SpecialClasses (code)',
 'SpecialClasses (name)',
 'CensusDate',
 'NumberOfPupils',
 'NumberOfBoys',
 'NumberOfGirls',
 'PercentageFSM',
 'TrustSchoolFlag (code)',
 'TrustSchoolFlag (name)',
 'Trusts (code)',
 'Trusts (name)',
 'SchoolSponsorFlag (name)',
 'FederationFlag (name)',
 'UKPRN',
 'FurtherEducationType (name)',
 'OfstedLastInsp',
 'OfstedSpecialMeasures (code)',
 'OfstedSpecialMeasures (name)',
 'LastChangedDate',
 'Street',
 'Locality',
 'Town',
 'County (name)',
 'Postcode',
 'SchoolWebsite',
 'TelephoneNum',
 'HeadTitle (name)',
 'HeadFirstName',
 'HeadLastName',
 'HeadPreferredJobTitle',
 'BSOInspectorateName (name)',
 'TeenMoth (name)',
 'CCF (name)',
 'SENPRU (name)',
 'EBD (name)',
 'EdByOther (name)',
 'Section41Approved (name)',
 'GOR (code)',
 'GOR (name)',
 'DistrictAdministrative (code)',
 'DistrictAdministrative (name)',
 'AdministrativeWard (code)',
 'AdministrativeWard (name)',
 'ParliamentaryConstituency (code)',
 'ParliamentaryConstituency (name)',
 'UrbanRural (code)',
 'UrbanRural (name)',
 'GSSLACode (name)',
 'Easting',
 'Northing',
 'MSOA (name)',
 'LSOA (name)',
 'PreviousLA (code)',
 'PreviousLA (name)',
 'OfstedRating (name)',
 'RSCRegion (name)',
 'UPRN',
 'QABName (code)',
 'QABName (name)',
 'EstablishmentAccredited (code)',
 'EstablishmentAccredited (name)',
 'MSOA (code)',
 'LSOA (code)']

In [264]:
# drop columns where 80 percent data are missing 
UsefulschData=school_df.dropna(thresh=school_df.shape[0]*0.8,how='all',axis=1)
UsefulschData

,URN,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentTypeGroup (code),EstablishmentTypeGroup (name),EstablishmentStatus (code),...,MSOA (name),LSOA (name),PreviousLA (code),RSCRegion (name),QABName (code),QABName (name),EstablishmentAccredited (code),EstablishmentAccredited (name),MSOA (code),LSOA (code)
0,100000,201,City of London,3614,The Aldgate School,02,Voluntary aided school,4,Local authority maintained schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
1,100001,201,City of London,6005,City of London School for Girls,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001B,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01000002
2,100002,201,City of London,6006,St Paul's Cathedral School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
3,100003,201,City of London,6007,City of London School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
4,100004,202,Camden,1045,Sherborne Nursery School,15,Local authority nursery school,4,Local authority maintained schools,2,...,Camden 007,Camden 007D,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000172,E01000901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49302,402456,680,Newport,6008,Sporting Chance,30,Welsh establishment,6,Welsh schools,1,...,Newport 018,Newport 018C,999,NaN,0,Not applicable,0,Not applicable,W02000364,W01001661
49303,402457,669,Carmarthenshire,6017,Westward House School,30,Welsh establishment,6,Welsh schools,1,...,Carmarthenshire 027,Carmarthenshire 027B,999,NaN,0,Not applicable,0,Not applicable,W02000418,W01000720
49304,402458,666,Powys,2155,Ysgol Calon y Dderwen,30,Welsh establishment,6,Welsh schools,1,...,Powys 008,Powys 008A,999,NaN,0,Not applicable,0,Not applicable,W02000104,W01000480
49305,402459,680,Newport,1019,Newport Nursery School,30,Welsh establishment,6,Welsh schools,1,...,Newport 011,Newport 011E,999,NaN,0,Not applicable,0,Not applicable,W02000357,W01001692
49306,402460,680,Newport,2331,Ysgol Gymraeg Nant Gwenlli,30,Welsh establishment,6,Welsh schools,1,...,Newport 001,Newport 001D,999,NaN,0,Not applicable,0,Not applicable,W02000347,W01001626

In [265]:
# new UsefulschData shows new percentage of missing values 
missing_zero_values_table(UsefulschData)

Your selected dataframe has 79 columns and 49307 Rows.
There are 39 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
HeadTitle (name),0,9084,18.4,9084,18.4,object
HeadFirstName,0,7650,15.5,7650,15.5,object
HeadLastName,0,7592,15.4,7592,15.4,object
HeadPreferredJobTitle,0,5241,10.6,5241,10.6,object
EdByOther (name),0,5172,10.5,5172,10.5,object
CCF (name),0,5161,10.5,5161,10.5,object
AdmissionsPolicy (name),0,4904,9.9,4904,9.9,object
StatutoryLowAge,0,3952,8.0,3952,8.0,object
StatutoryHighAge,0,3949,8.0,3949,8.0,object
ReligiousCharacter (name),0,3461,7.0,3461,7.0,object
ReligiousEthos (name),0,3261,6.6,3261,6.6,object
FurtherEducationType (name),0,2995,6.1,2995,6.1,object
RSCRegion (name),0,2837,5.8,2837,5.8,object
Town,0,1933,3.9,1933,3.9,object
Easting,0,1517,3.1,1517,3.1,object
Northing,0,1517,3.1,1517,3.1,object
Boarders (name),0,1473,3.0,1473,3.0,object
Gender (name),0,1400,2.8,1400,2.8,object
LSOA (name),0,1318,2.7,1318,2.7,object
UrbanRural (name),0,1317,2.7,1317,2.7,object
AdministrativeWard (name),0,1317,2.7,1317,2.7,object
DistrictAdministrative (name),0,1316,2.7,1316,2.7,object
ParliamentaryConstituency (name),0,1316,2.7,1316,2.7,object
MSOA (name),0,1316,2.7,1316,2.7,object
Postcode,0,1312,2.7,1312,2.7,object
Diocese (name),0,1249,2.5,1249,2.5,object
Street,0,1187,2.4,1187,2.4,object
ReasonEstablishmentOpened (name),0,559,1.1,559,1.1,object
QABName (name),0,270,0.5,270,0.5,object
QABName (code),0,270,0.5,270,0.5,object
EstablishmentAccredited (code),0,270,0.5,270,0.5,object
EstablishmentAccredited (name),0,270,0.5,270,0.5,object
EstablishmentNumber,0,135,0.3,135,0.3,object
SpecialClasses (name),0,100,0.2,100,0.2,object
NurseryProvision (name),0,25,0.1,25,0.1,object
SENPRU (name),0,11,0.0,11,0.0,object
TeenMoth (name),0,8,0.0,8,0.0,object
EBD (name),0,7,0.0,7,0.0,object
OfficialSixthForm (name),0,5,0.0,5,0.0,object

#### for this notebook study the idea will be to replace all na values in columns more than 5% missing value

In [266]:
# the startegy is to first of all find the columns with 5 or more percent missing values  
five_percol=UsefulData.columns[UsefulData.isnull().mean()>= 0.05]

In [267]:
five_percol # columns with  5% or more  missing values

Index([], dtype='object')

In [268]:
mode = UsefulData.filter(five_percol).mode()
print (mode)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[49307 rows x 0 columns]

In [269]:
# finding the mode of the five_percol columns datas within the UsefulschData
UsefulschData[five_percol]=UsefulData[five_percol].fillna(UsefulData.mode().iloc[0])

In [270]:
UsefulschData

,URN,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentTypeGroup (code),EstablishmentTypeGroup (name),EstablishmentStatus (code),...,MSOA (name),LSOA (name),PreviousLA (code),RSCRegion (name),QABName (code),QABName (name),EstablishmentAccredited (code),EstablishmentAccredited (name),MSOA (code),LSOA (code)
0,100000,201,City of London,3614,The Aldgate School,02,Voluntary aided school,4,Local authority maintained schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
1,100001,201,City of London,6005,City of London School for Girls,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001B,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01000002
2,100002,201,City of London,6006,St Paul's Cathedral School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
3,100003,201,City of London,6007,City of London School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
4,100004,202,Camden,1045,Sherborne Nursery School,15,Local authority nursery school,4,Local authority maintained schools,2,...,Camden 007,Camden 007D,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000172,E01000901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49302,402456,680,Newport,6008,Sporting Chance,30,Welsh establishment,6,Welsh schools,1,...,Newport 018,Newport 018C,999,NaN,0,Not applicable,0,Not applicable,W02000364,W01001661
49303,402457,669,Carmarthenshire,6017,Westward House School,30,Welsh establishment,6,Welsh schools,1,...,Carmarthenshire 027,Carmarthenshire 027B,999,NaN,0,Not applicable,0,Not applicable,W02000418,W01000720
49304,402458,666,Powys,2155,Ysgol Calon y Dderwen,30,Welsh establishment,6,Welsh schools,1,...,Powys 008,Powys 008A,999,NaN,0,Not applicable,0,Not applicable,W02000104,W01000480
49305,402459,680,Newport,1019,Newport Nursery School,30,Welsh establishment,6,Welsh schools,1,...,Newport 011,Newport 011E,999,NaN,0,Not applicable,0,Not applicable,W02000357,W01001692
49306,402460,680,Newport,2331,Ysgol Gymraeg Nant Gwenlli,30,Welsh establishment,6,Welsh schools,1,...,Newport 001,Newport 001D,999,NaN,0,Not applicable,0,Not applicable,W02000347,W01001626

In [271]:
# checking for the percentage missing values in the new UsefulschData to
# proof that the missing values have reduced because they have been replaced by the mode
missing_zero_values_table(UsefulschData)  # Town now have the higest missing value of 3.9 percent

Your selected dataframe has 79 columns and 49307 Rows.
There are 39 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
HeadTitle (name),0,9084,18.4,9084,18.4,object
HeadFirstName,0,7650,15.5,7650,15.5,object
HeadLastName,0,7592,15.4,7592,15.4,object
HeadPreferredJobTitle,0,5241,10.6,5241,10.6,object
EdByOther (name),0,5172,10.5,5172,10.5,object
CCF (name),0,5161,10.5,5161,10.5,object
AdmissionsPolicy (name),0,4904,9.9,4904,9.9,object
StatutoryLowAge,0,3952,8.0,3952,8.0,object
StatutoryHighAge,0,3949,8.0,3949,8.0,object
ReligiousCharacter (name),0,3461,7.0,3461,7.0,object
ReligiousEthos (name),0,3261,6.6,3261,6.6,object
FurtherEducationType (name),0,2995,6.1,2995,6.1,object
RSCRegion (name),0,2837,5.8,2837,5.8,object
Town,0,1933,3.9,1933,3.9,object
Easting,0,1517,3.1,1517,3.1,object
Northing,0,1517,3.1,1517,3.1,object
Boarders (name),0,1473,3.0,1473,3.0,object
Gender (name),0,1400,2.8,1400,2.8,object
LSOA (name),0,1318,2.7,1318,2.7,object
UrbanRural (name),0,1317,2.7,1317,2.7,object
AdministrativeWard (name),0,1317,2.7,1317,2.7,object
DistrictAdministrative (name),0,1316,2.7,1316,2.7,object
ParliamentaryConstituency (name),0,1316,2.7,1316,2.7,object
MSOA (name),0,1316,2.7,1316,2.7,object
Postcode,0,1312,2.7,1312,2.7,object
Diocese (name),0,1249,2.5,1249,2.5,object
Street,0,1187,2.4,1187,2.4,object
ReasonEstablishmentOpened (name),0,559,1.1,559,1.1,object
QABName (name),0,270,0.5,270,0.5,object
QABName (code),0,270,0.5,270,0.5,object
EstablishmentAccredited (code),0,270,0.5,270,0.5,object
EstablishmentAccredited (name),0,270,0.5,270,0.5,object
EstablishmentNumber,0,135,0.3,135,0.3,object
SpecialClasses (name),0,100,0.2,100,0.2,object
NurseryProvision (name),0,25,0.1,25,0.1,object
SENPRU (name),0,11,0.0,11,0.0,object
TeenMoth (name),0,8,0.0,8,0.0,object
EBD (name),0,7,0.0,7,0.0,object
OfficialSixthForm (name),0,5,0.0,5,0.0,object

#### drop the null values in this dataframe. the remainer of the dataframe will have missing values lesser than 5 percent as seen above

In [272]:
Clean_schdata=UsefulData.dropna()
Clean_schdata

,URN,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentTypeGroup (code),EstablishmentTypeGroup (name),EstablishmentStatus (code),...,MSOA (name),LSOA (name),PreviousLA (code),RSCRegion (name),QABName (code),QABName (name),EstablishmentAccredited (code),EstablishmentAccredited (name),MSOA (code),LSOA (code)
0,100000,201,City of London,3614,The Aldgate School,02,Voluntary aided school,4,Local authority maintained schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
1,100001,201,City of London,6005,City of London School for Girls,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001B,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01000002
2,100002,201,City of London,6006,St Paul's Cathedral School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
3,100003,201,City of London,6007,City of London School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
4,100004,202,Camden,1045,Sherborne Nursery School,15,Local authority nursery school,4,Local authority maintained schools,2,...,Camden 007,Camden 007D,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000172,E01000901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49038,402186,661,Gwynedd,1102,Uned Glanwnion,30,Welsh establishment,6,Welsh schools,2,...,Gwynedd 016,Gwynedd 016D,999,Lancashire and West Yorkshire,0,Not applicable,0,Not applicable,W02000025,W01000067
49039,402187,661,Gwynedd,1101,Uned Bryn Llwyd,30,Welsh establishment,6,Welsh schools,2,...,Gwynedd 007,Gwynedd 007C,999,Lancashire and West Yorkshire,0,Not applicable,0,Not applicable,W02000016,W01000111
49041,402189,669,Carmarthenshire,7904,Coleg Elidyr,30,Welsh establishment,6,Welsh schools,1,...,Carmarthenshire 002,Carmarthenshire 002C,999,Lancashire and West Yorkshire,0,Not applicable,0,Not applicable,W02000143,W01000678
49042,402190,663,Denbighshire,7904,Pengwern College,30,Welsh establishment,6,Welsh schools,1,...,Denbighshire 009,Denbighshire 009A,999,Lancashire and West Yorkshire,0,Not applicable,0,Not applicable,W02000050,W01000191
49043,402191,673,Vale of Glamorgan,7904,Beechwood College,30,Welsh establishment,6,Welsh schools,2,...,The Vale of Glamorgan 015,The Vale of Glamorgan 015E,999,Lancashire and West Yorkshire,0,Not applicable,0,Not applicable,W02000251,W01001073

#### cleaned school dataset now have 44017 rows Ã— 79 columns

# Charity DataSet

## Data wangling of Charity dataset and concatenating with the clean school dataset Clean_schdata above

In [273]:
#importing charity data 
df_charitydata = pd.read_csv('C:/Users/aoogb/Desktop/data/publicextract.charity.csv',
                   sep = '_',
                   engine = 'python')
 
# Print the Dataframe
df_charitydata.head(5)

,date,of,extract\torganisation,number\tregistered,charity,number\tlinked,charity.1,number\tcharity,name\tcharity,type\tcharity,...,is.2,dissolved\tdate,cio,dissolution,notice\tcharity,activities\tcharity,gift,aid\tcharity,has,land
0,2021-11-10 00:00:00.0000000\t1\t200027\t1\tPOT...,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-10 00:00:00.0000000\t2\t200027\t2\tHIT...,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-10 00:00:00.0000000\t3\t200028\t1\tTOW...,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-10 00:00:00.0000000\t4\t200028\t2\tTOW...,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-10 00:00:00.0000000\t5\t200034\t1\tCLO...,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [274]:
#print(df_charitydata)

### Columns identification is very important

In [275]:
#for column_header in df_charitydata:
    #print(column_header)
# we can conclude that the column header is very messy

In [276]:
#printing out the unique rows and columns in the companydata
for col in df_charitydata:
    print ('\n varible %s'%col)
    print (df_charitydata[col].value_counts())

 varible date
2021-11-10 00:00:00.0000000\t1035253\t1035253\t0\tST GEORGES CLUB CROWHURST\t\tRemoved\t1994-03-22 00:00:00.0000000\t2009-08-27 00:00:00.0000000\tRemoved\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\t\t\t                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
2021-11-10 00:00:00.0000000\t5171088\t1192202\t0\tTHE JAMES KNOTT FAMILY FOUNDATION\tCIO\tRegistered\t2020-11-06 00:00:00.0000000\t\tNew\t\t\t\t\tRathbone Bros Plc\t8 Finsbury Circus\tLONDON\t\t\tEC2M 7AZ\t02073990000\tlinda.cousins@rathbones.com\t\t\tFalse\tFalse\tFalse\t\tTrue\tFalse\t\t\t\t                                                                                                                                                                                                                                                                                                                                                                                                   1
2021-11-10 00:00:00.0000000\t252941\t252941\t0\tMADDEN FUND FOR THE POOR\tOther\tRemoved\t1967-10-24 00:00:00.0000000\t2019-06-29 00:00:00.0000000\tRemoved\t2017-04-01 00:00:00.0000000\t2018-03-31 00:00:00.0000000\t1\t1\t\t\t\t\t\t\t\t\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tRelief of the poor in Durham City\tTrue\tFalse                                                                                                                                                                                                                                                                                                                                                                   1
2021-11-10 00:00:00.0000000\t238289\t238289\t0\tCHURCH HALL AND MANSE OF DORE AND TOTLEY UNITED REFORMED CHURCH\t\tRemoved\t1965-06-02 00:00:00.0000000\t2000-01-12 00:00:00.0000000\tRemoved\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\t\t\t                                                                                                                                                                                                                                                                                                                                                                                                                                   1
2021-11-10 00:00:00.0000000\t3989433\t1091088\t0\tTHE TALKE PITS TOWNSWOMEN'S GUILDS\tOther\tRegistered\t2002-03-13 00:00:00.0000000\t\tSubmission Received\t2020-02-01 00:00:00.0000000\t2021-01-31 00:00:00.0000000\t2986\t2408\t43 DERBY ROAD\tTALKE\tSTOKE-ON-TRENT\t\t\tST7 1SG\t01782784800\t\twww.townswomen.org.uk\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tRaising funds for local charities as chosen by the members of the guild\tTrue\tFalse                                                                                                                                                                                                                                                1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
2021-11-10 00:00:00.0000000\t3992207\t1092962\t0\tWISHES 4 KIDS\tOther\tRegistered\t2002-07-16 00:00:00.0000000\t\tSubmission Received\t2020-04-05 00:00:00.0000000\t2021-04-04 00:00:00.0000000\t296201\t225324\tWISHES 4 KIDS\t67 REGENT ROAD\tLEICESTER\t\t\tLE1 6YF\t01162543491\tinfo@wishes4kids.co.uk\twww.wishes4kids.co.uk\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tThe objects of the charity are to relieve the suffering of children in the Leicestershire, Northamptonshire and Birmingham areas, children who have life limited/terminal illness, who have suffered life changing mental/physical emotional trauma, have suffered severe abuse by the granting of a wish.\tTrue\tFalse    1
2021-11-10 00:00:00.0000000\t1021480\t1021480\t0\tSUSANNA BAYLEY FOR WIDOWS\t\tRemoved\t1962-09-22 00:00:00.0000000\t1993-05-21 00:00:00.0000000\tRemoved\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\t\t\t                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
2021-11-10 00:00:00.0000000\t3967804\t1082313\t0\tMANCHESTER JEWISH FEDERATION\tCharitable company\tRemoved\t2000-09-06 00:00:00.0000000\t2014-11-14 00:00:00.0000000\tRemoved\t2012-12-01 00:00:00.0000000\t2013-11-30 00:00:00.0000000\t0\t0\t\t\t\t\t\t\t\t\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tThe objectives of the charity are to assist Jewish people in Greater Manchester, who are in need of such assistance by reason of poverty, hardship, distress, infirmity or old age and generally to relieve and improve their social, mental and physical condition by the provision of social welfare services and material assistance.\t\t                                                  1
2021-11-10 00:00:00.0000000\t3970421\t1080670\t0\tWELFARE WORKS CHARITABLE TRUST\tTrust\tRegistered\t2000-05-11 00:00:00.0000000\t\tSubmission Received\t2019-04-01 00:00:00.0000000\t2020-03-31 00:00:00.0000000\t0\t0\tNEW DERWENT HOUSE\t69-73 THEOBALDS ROAD\tLONDON\t\t\tWC1X 8TA\t02074907774\tinfo@wwct.co.uk\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tTo provide counselling and guidance to individuals and families in the London Jewish Community\tFalse\tFalse                                                                                                                                                                                                                            1
2021-11-10 00:00:00.0000000\t5017678\t1140907\t0\tCHRISTIAN FUND FOR HUMAN DEVELOPMENT\tOther\tRegistered\t2011-03-25 00:00:00.0000000\t\tSubmission Received\t2019-11-02 00:00:00.0000000\t2020-11-01 00:00:00.0000000\t300\t270\t146 BROMPTON CLOSE\tLUTON\t\t\t\tLU3 3QU \t07909600257\ti.q.shams@ntlworld.com\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tFunding individuals and organisations to eradicate poverty and support education.\tFalse\tFalse                                                                                                                                                                                                                                            1
Name: date, Length: 375496, dtype: int64

 varible of
of                                                                                                                                                                                                                                                                                                                             18
and                                                                                                                                                                                                                                                                                                                            11
j                                                                                                                                                                                                                                                                                                                               9
a                                                                                                                                                                                                                                                                                                                               5
painter@btinternet.com\twww.st-thomas.org.uk\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tSmall grants at the discretion of the trustees.\tFalse\tFalse                                                                                                                                                                            4
                                                                                                                                                                                                                                                                                                                               ..
PRI@BATHNES.GOV.UK\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tSCHOOL/PARENTS ASSOCIATION FUND RAISING\tFalse\tFalse                                                                                                                                                                                                            1
mercer@hotmail.com\tllanarthvillagehall.co.uk\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tRunning of Llanarth Village Hall\tFalse\tTrue                                                                                                                                                                                           1
campion@nfumutual.co.uk\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tFor the improvement of the art & science of agriculture.\tFalse\tFalse                                                                                                                                                                                      1
mcf@yahoo.co.uk\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tNo fundraising or projects during period October 2017 - September 2018.\tFalse\tFalse                                                                                                                                                                               1
dees.co.uk\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tThe object of the charity is to advance the education of the pupils of Malton school by providing or assisting the provision of educational and other charitable facilities in augmentation of such facilities financed by the Local Education Authority\tFalse\tFalse     1
Name: of, Length: 2047, dtype: int64

 varible extract	organisation
scout                                                                                                                                                                                                                                          3
charitable                                                                                                                                                                                                                                     3
JO                                                                                                                                                                                                                                             2
charities@btinternet.com\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tIndividual beneficiaries must reside in the parish of Clare. Organisations that are beneficiaries must carry out their operations in the parish of Clare.\tFalse\tTrue    2
and                                                                                                                                                                                                                                            2
                                                                                                                                                                                                                                              ..
tyler@hotmail.com\twww.secretary@bishoplaneyscharity.co.uk\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tOffers grants for young people in the Soham and Ely area to assist with their degree or apprenticeship\tFalse\tTrue                       1
Homepage.ikml\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tTo assist the school, school children and school activities in areas where the school budget does not stretch.\tFalse\tFalse                                                           1
bath                                                                                                                                                                                                                                           1
29@hotmail.com\t\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tstructured training\tFalse\tFalse                                                                                                                                                   1
limbu@hotmail.com\thttps://dilmayafoundation.org/\t12036704\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\t\t\t                                                                                                                                       1
Name: extract\torganisation, Length: 272, dtype: int64

 varible number	registered
dementia                                                                                                                                                                                                                                                                                                                                                                                                                                                 2
Heritage\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tTo raise funds to secure the heritage of the village of Marden by a) supporting the work of the Marden History Group and Heritage Centre and b) conserving the fabric of the Parish Church.\tTrue\tFalse                                                                                                                                                                                              1
tab&source                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Primary                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
pta.html\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tParents and teachers at Penshurst Primary School raise funds to enhance the children's learning experiences.\tFalse\tFalse                                                                                                                                                                                                                                                                            1
                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
home.php\t05300870\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tSUPPORT FOR VICTIMS AND WITNESSES OF CRIME\t\t                                                                                                                                                                                                                                                                                                                                                1
Home                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
fund@outlook.com\thttps://www.camandbearfund.com/\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tProvide financial grants to help and support young people (12 to 18 years) from England and Wales, that could not otherwise afford to participate in outdoor learning and leisure activities. Examples include the Duke of Edinburgh Awards, Outward Bounds courses and other outdoor activities, in support of their personal development.\tFalse\tFalse    1
group.html\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tA variety of land based activities including camping skills, sport, art and craft, general knowledge and community service.\tTrue\tTrue                                                                                                                                                                                                                                                             1
Legal@quilterinvestors.com\twww.quilterinvestors.com\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tThe charity is a Charity Authorised Investment Fund.\tFalse\tFalse                                                                                                                                                                                                                                                                                        1
Name: number\tregistered, Length: 65, dtype: int64

 varible charity
action                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  2
awards.h\t\tFalse\tFalse\tFalse\t\tFalse\tFalse\t\tFinancial assistance is available through the Higher Education Research and Special Expenses Fund to assist deserving young persons following special technical courses full-time at secondary schools or establishments of further education in the area formerly under the control of the London County Council (under Clause 1), and teachers and lecturers in the former LCC area (Clause 2).\tFalse\tFalse                                                      1

In [277]:
# checking for missing values 
df_charitydata.isna().any().any()

True

In [278]:
# counting the number of missing values 
df_charitydata.isna().sum()

date                          0
of                       373366
extract\torganisation    375216
number\tregistered       375430
charity                  375471
                          ...
activities\tcharity      375496
gift                     375496
aid\tcharity             375496
has                      375496
land                     375496
Length: 72, dtype: int64

In [279]:
# checking the shape of the datav
df_charitydata.shape

(375496, 72)

In [280]:
# suming the missing values 
df_charitydata.isna().sum().sum()

26657690

In [281]:
df_charitydata['date']

0         2021-11-10 00:00:00.0000000\t1\t200027\t1\tPOT...
1         2021-11-10 00:00:00.0000000\t2\t200027\t2\tHIT...
2         2021-11-10 00:00:00.0000000\t3\t200028\t1\tTOW...
3         2021-11-10 00:00:00.0000000\t4\t200028\t2\tTOW...
4         2021-11-10 00:00:00.0000000\t5\t200034\t1\tCLO...
                                ...
375491    2021-11-10 00:00:00.0000000\t5189676\t1196446\...
375492    2021-11-10 00:00:00.0000000\t5189775\t1196419\...
375493    2021-11-10 00:00:00.0000000\t5189813\t1196485\...
375494    2021-11-10 00:00:00.0000000\t5189821\t1196347\...
375495    2021-11-10 00:00:00.0000000\t5189861\t1196391\...
Name: date, Length: 375496, dtype: object

### This is to make the date column more understandable, here we can clearly identify the problem we are dealing with. Here we can make assess the feature as a list.

In [282]:

#list_charitydata = df_charitydata['date'].tolist()
#list_charitydata

In [283]:
n_charity=df_charitydata.date.str.split('\t', expand=True)
n_charity

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,2021-11-10 00:00:00.0000000,1,200027,1,POTTERNE MISSION ROOM AND TRUST,,Removed,1962-05-17 00:00:00.0000000,2014-04-16 00:00:00.0000000,,...,False,False,,,,,,,,
1,2021-11-10 00:00:00.0000000,2,200027,2,HITCHAM FREE CHURCH,,Registered,1962-05-17 00:00:00.0000000,,,...,False,False,,,,,,,,
2,2021-11-10 00:00:00.0000000,3,200028,1,TOWN LANDS CHARITY FOR THE POOR,,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,,...,False,False,,,,,,,,
3,2021-11-10 00:00:00.0000000,4,200028,2,TOWN LANDS CHARITY FOR THE CHURCH,,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,,...,False,False,,,,,,,,
4,2021-11-10 00:00:00.0000000,5,200034,1,CLOPHILL RELIEF IN NEED CHARITY,,Registered,1972-07-19 00:00:00.0000000,,,...,False,False,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375491,2021-11-10 00:00:00.0000000,5189676,1196446,0,PEACEFUL STREAMS,CIO,Registered,2021-11-05 00:00:00.0000000,,New,...,False,False,False,,True,False,,,,
375492,2021-11-10 00:00:00.0000000,5189775,1196419,0,BENTLEY SCHOOL PTA,Other,Registered,2021-11-05 00:00:00.0000000,,New,...,False,False,False,,False,False,,,,
375493,2021-11-10 00:00:00.0000000,5189813,1196485,0,THE DX CLUB,CIO,Registered,2021-11-09 00:00:00.0000000,,New,...,False,False,False,,True,False,,,,
375494,2021-11-10 00:00:00.0000000,5189821,1196347,0,THE GREENCLIFFE FOUNDATION LTD,Charitable company,Registered,2021-11-01 00:00:00.0000000,,New,...,False,False,False,,False,False,,,,
375495,2021-11-10 00:00:00.0000000,5189861,1196391,0,CAREPOINT HOUSING LIMITED,Charitable company,Registered,2021-11-03 00:00:00.0000000,,New,...,False,False,False,,False,False,,,,

In [284]:
#for column_header in n_charity:
  #  print(column_header)

In [285]:
    
#for col in n_charity:
    #print ('\n Column name %s'%col)
   # print (n_charity[col].value_counts())

In [286]:
#n_charity.shape

In [287]:
n_charity.columns =['date_of_extract','organisation_number','registered_charity_number','linked_charity.1_number','charity_name','charity_type',
'charity_registration_status','date_of.1_registration','date_of.2_removal','charity_reporting_status','latest_acc_fin_period_start_date',
'latest_acc.1_fin.1_period.1_end_date','latest.1_income','latest_expenditure','charity_contact_address1','charity_contact.1_address2','charity_contact.2_address3'
,'charity_contact.3_address4','charity_contact.4_address5','charity_contact.5_postcode','charity_contact.6_phone','charity_contact.7_email','charity_contact.8_web','charity_company_registration.1_number','charity.1_insolvent','charity_in_administration','charity_previously_excepted','charity_is_cdf_or_cif','charity_is.1_cio','cio_is.2_dissolved','date_cio_dissolution_notice','charity_activities','charity_gift_aid','charity_has_land'  ]

In [288]:
n_charity

,date_of_extract,organisation_number,registered_charity_number,linked_charity.1_number,charity_name,charity_type,charity_registration_status,date_of.1_registration,date_of.2_removal,charity_reporting_status,...,charity.1_insolvent,charity_in_administration,charity_previously_excepted,charity_is_cdf_or_cif,charity_is.1_cio,cio_is.2_dissolved,date_cio_dissolution_notice,charity_activities,charity_gift_aid,charity_has_land
0,2021-11-10 00:00:00.0000000,1,200027,1,POTTERNE MISSION ROOM AND TRUST,,Removed,1962-05-17 00:00:00.0000000,2014-04-16 00:00:00.0000000,,...,False,False,,,,,,,,
1,2021-11-10 00:00:00.0000000,2,200027,2,HITCHAM FREE CHURCH,,Registered,1962-05-17 00:00:00.0000000,,,...,False,False,,,,,,,,
2,2021-11-10 00:00:00.0000000,3,200028,1,TOWN LANDS CHARITY FOR THE POOR,,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,,...,False,False,,,,,,,,
3,2021-11-10 00:00:00.0000000,4,200028,2,TOWN LANDS CHARITY FOR THE CHURCH,,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,,...,False,False,,,,,,,,
4,2021-11-10 00:00:00.0000000,5,200034,1,CLOPHILL RELIEF IN NEED CHARITY,,Registered,1972-07-19 00:00:00.0000000,,,...,False,False,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375491,2021-11-10 00:00:00.0000000,5189676,1196446,0,PEACEFUL STREAMS,CIO,Registered,2021-11-05 00:00:00.0000000,,New,...,False,False,False,,True,False,,,,
375492,2021-11-10 00:00:00.0000000,5189775,1196419,0,BENTLEY SCHOOL PTA,Other,Registered,2021-11-05 00:00:00.0000000,,New,...,False,False,False,,False,False,,,,
375493,2021-11-10 00:00:00.0000000,5189813,1196485,0,THE DX CLUB,CIO,Registered,2021-11-09 00:00:00.0000000,,New,...,False,False,False,,True,False,,,,
375494,2021-11-10 00:00:00.0000000,5189821,1196347,0,THE GREENCLIFFE FOUNDATION LTD,Charitable company,Registered,2021-11-01 00:00:00.0000000,,New,...,False,False,False,,False,False,,,,
375495,2021-11-10 00:00:00.0000000,5189861,1196391,0,CAREPOINT HOUSING LIMITED,Charitable company,Registered,2021-11-03 00:00:00.0000000,,New,...,False,False,False,,False,False,,,,

####  In continuation of this task , practice with your dataset and show if you need to clean more check for data integrity as well to confirm that the data is really clean. 

#####  Understanding the application  Levenshtein or fuzzy , we compare the two dataset


#### Find out how you will use the merge comand or concat in python , which is better to get your main dataset. 

######     Example pd.merge(dfinal, df1, on='movie_title')

In [289]:
# the first dataframe is school_df for school 
# and the second is charity which is named n_charity
# you are to merge ?

In [290]:
Clean_schdata.head()

,URN,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentTypeGroup (code),EstablishmentTypeGroup (name),EstablishmentStatus (code),...,MSOA (name),LSOA (name),PreviousLA (code),RSCRegion (name),QABName (code),QABName (name),EstablishmentAccredited (code),EstablishmentAccredited (name),MSOA (code),LSOA (code)
0,100000,201,City of London,3614,The Aldgate School,02,Voluntary aided school,4,Local authority maintained schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
1,100001,201,City of London,6005,City of London School for Girls,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001B,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01000002
2,100002,201,City of London,6006,St Paul's Cathedral School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
3,100003,201,City of London,6007,City of London School,11,Other independent school,3,Independent schools,1,...,City of London 001,City of London 001F,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000001,E01032739
4,100004,202,Camden,1045,Sherborne Nursery School,15,Local authority nursery school,4,Local authority maintained schools,2,...,Camden 007,Camden 007D,999,North-West London and South-Central England,0,Not applicable,0,Not applicable,E02000172,E01000901

In [291]:
Clean_schdata['TypeOfEstablishment (name)'].tolist()

['Voluntary aided school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Foundation special school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Foundation school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary controlled school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Foundation school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Foundation school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Foundation school',
 'Foundation school',
 'Foundation school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Foundation special school',
 'Community special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Foundation school',
 'Community school',
 'Community school',
 'Foundation school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Foundation school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Community school',
 'Community school',
 'Foundation school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Foundation school',
 'Foundation school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Foundation school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Foundation school',
 'Foundation special school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Foundation special school',
 'Foundation special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Foundation school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Foundation school',
 'Other independent school',
 'Other independent school',
 'Other independent school',
 'City technology college',
 'Foundation special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Community special school',
 'Foundation special school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Local authority nursery school',
 'Pupil referral unit',
 'Pupil referral unit',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Foundation school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Foundation school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Community school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',
 'Voluntary aided school',

In [292]:
n_charity.head()

,date_of_extract,organisation_number,registered_charity_number,linked_charity.1_number,charity_name,charity_type,charity_registration_status,date_of.1_registration,date_of.2_removal,charity_reporting_status,...,charity.1_insolvent,charity_in_administration,charity_previously_excepted,charity_is_cdf_or_cif,charity_is.1_cio,cio_is.2_dissolved,date_cio_dissolution_notice,charity_activities,charity_gift_aid,charity_has_land
0,2021-11-10 00:00:00.0000000,1,200027,1,POTTERNE MISSION ROOM AND TRUST,,Removed,1962-05-17 00:00:00.0000000,2014-04-16 00:00:00.0000000,,...,False,False,,,,,,,,
1,2021-11-10 00:00:00.0000000,2,200027,2,HITCHAM FREE CHURCH,,Registered,1962-05-17 00:00:00.0000000,,,...,False,False,,,,,,,,
2,2021-11-10 00:00:00.0000000,3,200028,1,TOWN LANDS CHARITY FOR THE POOR,,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,,...,False,False,,,,,,,,
3,2021-11-10 00:00:00.0000000,4,200028,2,TOWN LANDS CHARITY FOR THE CHURCH,,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,,...,False,False,,,,,,,,
4,2021-11-10 00:00:00.0000000,5,200034,1,CLOPHILL RELIEF IN NEED CHARITY,,Registered,1972-07-19 00:00:00.0000000,,,...,False,False,,,,,,,,

In [293]:
n_charity = n_charity.replace({'': np.nan})

In [294]:
n_charity

,date_of_extract,organisation_number,registered_charity_number,linked_charity.1_number,charity_name,charity_type,charity_registration_status,date_of.1_registration,date_of.2_removal,charity_reporting_status,...,charity.1_insolvent,charity_in_administration,charity_previously_excepted,charity_is_cdf_or_cif,charity_is.1_cio,cio_is.2_dissolved,date_cio_dissolution_notice,charity_activities,charity_gift_aid,charity_has_land
0,2021-11-10 00:00:00.0000000,1,200027,1,POTTERNE MISSION ROOM AND TRUST,NaN,Removed,1962-05-17 00:00:00.0000000,2014-04-16 00:00:00.0000000,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-10 00:00:00.0000000,2,200027,2,HITCHAM FREE CHURCH,NaN,Registered,1962-05-17 00:00:00.0000000,NaN,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-10 00:00:00.0000000,3,200028,1,TOWN LANDS CHARITY FOR THE POOR,NaN,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-10 00:00:00.0000000,4,200028,2,TOWN LANDS CHARITY FOR THE CHURCH,NaN,Removed,1961-10-19 00:00:00.0000000,1997-09-17 00:00:00.0000000,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-10 00:00:00.0000000,5,200034,1,CLOPHILL RELIEF IN NEED CHARITY,NaN,Registered,1972-07-19 00:00:00.0000000,NaN,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375491,2021-11-10 00:00:00.0000000,5189676,1196446,0,PEACEFUL STREAMS,CIO,Registered,2021-11-05 00:00:00.0000000,NaN,New,...,False,False,False,NaN,True,False,NaN,NaN,NaN,NaN
375492,2021-11-10 00:00:00.0000000,5189775,1196419,0,BENTLEY SCHOOL PTA,Other,Registered,2021-11-05 00:00:00.0000000,NaN,New,...,False,False,False,NaN,False,False,NaN,NaN,NaN,NaN
375493,2021-11-10 00:00:00.0000000,5189813,1196485,0,THE DX CLUB,CIO,Registered,2021-11-09 00:00:00.0000000,NaN,New,...,False,False,False,NaN,True,False,NaN,NaN,NaN,NaN
375494,2021-11-10 00:00:00.0000000,5189821,1196347,0,THE GREENCLIFFE FOUNDATION LTD,Charitable company,Registered,2021-11-01 00:00:00.0000000,NaN,New,...,False,False,False,NaN,False,False,NaN,NaN,NaN,NaN
375495,2021-11-10 00:00:00.0000000,5189861,1196391,0,CAREPOINT HOUSING LIMITED,Charitable company,Registered,2021-11-03 00:00:00.0000000,NaN,New,...,False,False,False,NaN,False,False,NaN,NaN,NaN,NaN

In [295]:
#n_charity['charity_type'].tolist()

In [296]:
n_charity.isna().sum()

date_of_extract                               0
organisation_number                           0
registered_charity_number                     0
linked_charity.1_number                       0
charity_name                                  0
charity_type                             155756
charity_registration_status                   4
date_of.1_registration                        4
date_of.2_removal                        185516
charity_reporting_status                  40063
latest_acc_fin_period_start_date         143691
latest_acc.1_fin.1_period.1_end_date     143691
latest.1_income                          143691
latest_expenditure                       143691
charity_contact_address1                 205505
charity_contact.1_address2               205507
charity_contact.2_address3               250545
charity_contact.3_address4               316876
charity_contact.4_address5               359600
charity_contact.5_postcode               205770
charity_contact.6_phone                  206134
charity_contact.7_email                  235930
charity_contact.8_web                    278352
charity_company_registration.1_number    341994
charity.1_insolvent                        2117
charity_in_administration                  2117
charity_previously_excepted               42176
charity_is_cdf_or_cif                    375447
charity_is.1_cio                          42176
cio_is.2_dissolved                        42176
date_cio_dissolution_notice              375377
charity_activities                       160340
charity_gift_aid                         203066
charity_has_land                         201761
dtype: int64

In [297]:
# Droping columns with most null values 
n_charity.drop(['charity_type','date_of.2_removal','charity_reporting_status','latest_acc_fin_period_start_date','latest_acc.1_fin.1_period.1_end_date',     
'latest.1_income',                         
'latest_expenditure',                     
'charity_contact_address1',                 
'charity_contact.1_address2',               
'charity_contact.2_address3',               
'charity_contact.3_address4',               
'charity_contact.4_address5',              
'charity_contact.5_postcode',               
'charity_contact.6_phone',                  
'charity_contact.7_email',                  
'charity_contact.8_web',                    
'charity_company_registration.1_number',  
'charity_is_cdf_or_cif',                   
'date_cio_dissolution_notice',   
'charity_activities',                       
'charity_gift_aid',                         
'charity_has_land'],axis=1, inplace=True)

In [298]:
n_charity

,date_of_extract,organisation_number,registered_charity_number,linked_charity.1_number,charity_name,charity_registration_status,date_of.1_registration,charity.1_insolvent,charity_in_administration,charity_previously_excepted,charity_is.1_cio,cio_is.2_dissolved
0,2021-11-10 00:00:00.0000000,1,200027,1,POTTERNE MISSION ROOM AND TRUST,Removed,1962-05-17 00:00:00.0000000,False,False,NaN,NaN,NaN
1,2021-11-10 00:00:00.0000000,2,200027,2,HITCHAM FREE CHURCH,Registered,1962-05-17 00:00:00.0000000,False,False,NaN,NaN,NaN
2,2021-11-10 00:00:00.0000000,3,200028,1,TOWN LANDS CHARITY FOR THE POOR,Removed,1961-10-19 00:00:00.0000000,False,False,NaN,NaN,NaN
3,2021-11-10 00:00:00.0000000,4,200028,2,TOWN LANDS CHARITY FOR THE CHURCH,Removed,1961-10-19 00:00:00.0000000,False,False,NaN,NaN,NaN
4,2021-11-10 00:00:00.0000000,5,200034,1,CLOPHILL RELIEF IN NEED CHARITY,Registered,1972-07-19 00:00:00.0000000,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
375491,2021-11-10 00:00:00.0000000,5189676,1196446,0,PEACEFUL STREAMS,Registered,2021-11-05 00:00:00.0000000,False,False,False,True,False
375492,2021-11-10 00:00:00.0000000,5189775,1196419,0,BENTLEY SCHOOL PTA,Registered,2021-11-05 00:00:00.0000000,False,False,False,False,False
375493,2021-11-10 00:00:00.0000000,5189813,1196485,0,THE DX CLUB,Registered,2021-11-09 00:00:00.0000000,False,False,False,True,False
375494,2021-11-10 00:00:00.0000000,5189821,1196347,0,THE GREENCLIFFE FOUNDATION LTD,Registered,2021-11-01 00:00:00.0000000,False,False,False,False,False
375495,2021-11-10 00:00:00.0000000,5189861,1196391,0,CAREPOINT HOUSING LIMITED,Registered,2021-11-03 00:00:00.0000000,False,False,False,False,False

In [299]:
#dfnewcharity = n_charity.apply(lambda x: pd.Series(x.dropna().values))
n_charity.dropna(how='any', inplace=True)

In [300]:
n_charity

,date_of_extract,organisation_number,registered_charity_number,linked_charity.1_number,charity_name,charity_registration_status,date_of.1_registration,charity.1_insolvent,charity_in_administration,charity_previously_excepted,charity_is.1_cio,cio_is.2_dissolved
34068,2021-11-10 00:00:00.0000000,200000,200000,0,HOMEBOUND CRAFTSMEN TRUST,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34069,2021-11-10 00:00:00.0000000,200001,200001,0,PAINTERS' COMPANY CHARITY,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34070,2021-11-10 00:00:00.0000000,200002,200002,0,THE ROYAL OPERA HOUSE BENEVOLENT FUND,Registered,1961-06-08 00:00:00.0000000,False,False,False,False,False
34071,2021-11-10 00:00:00.0000000,200003,200003,0,HERGA WORLD DISTRESS FUND,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34072,2021-11-10 00:00:00.0000000,200004,200004,0,THE WILLIAM GOLDSTEIN LAY STAFF BENEVOLENT FUN...,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
375491,2021-11-10 00:00:00.0000000,5189676,1196446,0,PEACEFUL STREAMS,Registered,2021-11-05 00:00:00.0000000,False,False,False,True,False
375492,2021-11-10 00:00:00.0000000,5189775,1196419,0,BENTLEY SCHOOL PTA,Registered,2021-11-05 00:00:00.0000000,False,False,False,False,False
375493,2021-11-10 00:00:00.0000000,5189813,1196485,0,THE DX CLUB,Registered,2021-11-09 00:00:00.0000000,False,False,False,True,False
375494,2021-11-10 00:00:00.0000000,5189821,1196347,0,THE GREENCLIFFE FOUNDATION LTD,Registered,2021-11-01 00:00:00.0000000,False,False,False,False,False
375495,2021-11-10 00:00:00.0000000,5189861,1196391,0,CAREPOINT HOUSING LIMITED,Registered,2021-11-03 00:00:00.0000000,False,False,False,False,False

In [301]:
#n_charity.rename(columns = {'URN':'registered_charity_number'}, inplace = True)

In [302]:
n_charity

,date_of_extract,organisation_number,registered_charity_number,linked_charity.1_number,charity_name,charity_registration_status,date_of.1_registration,charity.1_insolvent,charity_in_administration,charity_previously_excepted,charity_is.1_cio,cio_is.2_dissolved
34068,2021-11-10 00:00:00.0000000,200000,200000,0,HOMEBOUND CRAFTSMEN TRUST,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34069,2021-11-10 00:00:00.0000000,200001,200001,0,PAINTERS' COMPANY CHARITY,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34070,2021-11-10 00:00:00.0000000,200002,200002,0,THE ROYAL OPERA HOUSE BENEVOLENT FUND,Registered,1961-06-08 00:00:00.0000000,False,False,False,False,False
34071,2021-11-10 00:00:00.0000000,200003,200003,0,HERGA WORLD DISTRESS FUND,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34072,2021-11-10 00:00:00.0000000,200004,200004,0,THE WILLIAM GOLDSTEIN LAY STAFF BENEVOLENT FUN...,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
375491,2021-11-10 00:00:00.0000000,5189676,1196446,0,PEACEFUL STREAMS,Registered,2021-11-05 00:00:00.0000000,False,False,False,True,False
375492,2021-11-10 00:00:00.0000000,5189775,1196419,0,BENTLEY SCHOOL PTA,Registered,2021-11-05 00:00:00.0000000,False,False,False,False,False
375493,2021-11-10 00:00:00.0000000,5189813,1196485,0,THE DX CLUB,Registered,2021-11-09 00:00:00.0000000,False,False,False,True,False
375494,2021-11-10 00:00:00.0000000,5189821,1196347,0,THE GREENCLIFFE FOUNDATION LTD,Registered,2021-11-01 00:00:00.0000000,False,False,False,False,False
375495,2021-11-10 00:00:00.0000000,5189861,1196391,0,CAREPOINT HOUSING LIMITED,Registered,2021-11-03 00:00:00.0000000,False,False,False,False,False

In [303]:
# concating the two columns 
results = pd.concat([Clean_schdata, n_charity], axis=1, join='inner')
display(results)

,URN,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentTypeGroup (code),EstablishmentTypeGroup (name),EstablishmentStatus (code),...,registered_charity_number,linked_charity.1_number,charity_name,charity_registration_status,date_of.1_registration,charity.1_insolvent,charity_in_administration,charity_previously_excepted,charity_is.1_cio,cio_is.2_dissolved
34068,134603,888,Lancashire,3995,Brookfield Park Primary School,01,Community school,4,Local authority maintained schools,1,...,200000,0,HOMEBOUND CRAFTSMEN TRUST,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34069,134605,886,Kent,6108,The Quest School,10,Other independent special school,5,Special schools,1,...,200001,0,PAINTERS' COMPANY CHARITY,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34070,134606,886,Kent,6107,Hythe House Education,10,Other independent special school,5,Special schools,2,...,200002,0,THE ROYAL OPERA HOUSE BENEVOLENT FUND,Registered,1961-06-08 00:00:00.0000000,False,False,False,False,False
34071,134607,826,Milton Keynes,9901,Milton Keynes Secure Training Centre,24,Secure units,9,Other types,2,...,200003,0,HERGA WORLD DISTRESS FUND,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
34072,134610,332,Dudley,6003,Stephenson House School,11,Other independent school,3,Independent schools,2,...,200004,0,THE WILLIAM GOLDSTEIN LAY STAFF BENEVOLENT FUN...,Removed,1961-06-08 00:00:00.0000000,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49038,402186,661,Gwynedd,1102,Uned Glanwnion,30,Welsh establishment,6,Welsh schools,2,...,217643,0,ROYAL BRITISH LEGION - HEREFORDSHIRE COUNTY,Removed,1963-05-23 00:00:00.0000000,False,False,False,False,False
49039,402187,661,Gwynedd,1101,Uned Bryn Llwyd,30,Welsh establishment,6,Welsh schools,2,...,217645,0,WANKLAND'S GIFT,Registered,1963-05-23 00:00:00.0000000,False,False,False,False,False
49041,402189,669,Carmarthenshire,7904,Coleg Elidyr,30,Welsh establishment,6,Welsh schools,1,...,217648,0,BRISTOL GOOD COMPANION SERVICE,Removed,1964-07-01 00:00:00.0000000,False,False,False,False,False
49042,402190,663,Denbighshire,7904,Pengwern College,30,Welsh establishment,6,Welsh schools,1,...,217649,0,SOUTHEND-ON-SEA GUILD OF HELP AND CITIZENS ADV...,Removed,1963-01-24 00:00:00.0000000,False,False,False,False,False
49043,402191,673,Vale of Glamorgan,7904,Beechwood College,30,Welsh establishment,6,Welsh schools,2,...,217651,0,BISHOPS COSIN'S ALMSHOUSES,Removed,1970-05-20 00:00:00.0000000,False,False,False,False,False